@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@model MyMovies.ViewModels.MovieCreateModel

@{
    ViewBag.Title = "Add Movie";
}

<form asp-controller="Movies" asp-action="Create" method="post" onsubmit="return validateForm()">
    <div class="form-group">
        <label class="control-label" asp-for="Title"> <b>  Title</b> </label>
        <input type="text" asp-for="Title" class="form-control"  required/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label" asp-for="Genre"><b>Genre  </b> </label>
        <input type="text" asp-for="Genre" class="form-control" required />
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label" asp-for="Stars"><b> Stars </b> </label>
        <input type="text" asp-for="Stars" class="form-control" required/>
        <span asp-validation-for="Stars" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label" asp-for="ImgUrl"><b> ImgUrl </b> </label>
        <input type="text" asp-for="ImgUrl" class="form-control" required/>
        <span asp-validation-for="ImgUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label" asp-for="Storyline"><b> Storyline </b>  </label>
        <textarea type="text" asp-for="Storyline" class="form-control" cols="20" rows="5" required></textarea>
        <span asp-validation-for="Storyline" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Movie" class="btn btn-warning" />
    </div>
</form>

@section Scripts{
        <script src="~/js/validator.js">  </script>
 }