@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@model List<MyMovies.Models.Movie>

@{
    ViewBag.Title = "Overview";
}

<br />
<br />  
<form action="/Movies/Overview" method="get" class="form-inline">
    <div class="form-group">
        <input type="text" name="Title" value="" class="form-control" placeholder="Search by Title" />
        <input type="submit" value="Search" class="btn btn-success" />
    </div>
</form>
<div class="card-group container-fluid">
    <div class="row">

        @foreach (var movie in Model)
        {
            <br />
            <br />
            <div class="card col-3">
                <img src="@movie.ImgUrl" alt="Movie Img" class="card-img-top" />

                <h3 class="card-title">@movie.Title</h3>
                <p class="card-text">@movie.Genre </p>

                <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="btn-info">Click here for more info about the movie</a>


            </div>


        }
    </div>
      
   
</div>



