
.card {
    background-color: lightgoldenrodyellow;
    border: solid 3px grey;
    border-radius: 1rem;
}

/*.card-group{
    width: 95%;
    margin: 7rem auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap:wrap;

}*/

.card {
    height: auto;
    /*width: 30rem;*/
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    /*flex-wrap: wrap;*/
}

img {
    height:60%;
    width:100%;
    object-fit:cover;
}