@model MyMovies.ViewModels.UserDetailsModel

@{
    ViewBag.Title = "User Details";
}

<br />
<br />
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}

<div class="container">
    <h1>User Details</h1>
    <br />
    <h3> Username</h3>
    <h5> @Model.Username</h5>
    <br />
    <h3> E-Mail</h3>
    <h5> @Model.Email</h5>
    <br />
    <a href="/Users/Update/@User.FindFirst("Id").Value" class="btn btn-warning"><b> Edit</b></a>
</div>